-# Be sure to also modify welcome_email.html.haml whenever editing this file

:plain
  Bienvenue #{@user.display_name}!

  Merci pour votre inscription à #{root_url}.

  Accéder à Syband: #{root_url}

  / TODO

  / Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  / tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  / quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  / consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  / cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  / proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
