- flow        ||= 'login'
- providers   ||= Authentication.providers
- css_class   ||= 'btn btn-primary btn-lg btn-block'

- providers.each do |provider|
  .col-md-3.col-sm-4.col-xs-12
    = link_to provider_auth_path(provider, flow: flow), data: {flow: flow, provider: provider} do
      %i{class: "fa fa-#{provider}"}>
      - if provider == 'google_oauth2'
        Google
      - if provider == 'facebook'
        Facebook
      - if provider == 'linkedin'
        Linkedin
      - if provider == 'twitter'
        Twitter
      - if provider == 'spotify'
        Spotify