- flow        ||= 'login'
- providers   ||= Authentication.providers
- css_class   ||= 'btn btn-primary pull-left'

.social-login.clearfix
  - providers.each do |provider|
    = link_to provider_auth_path(provider, flow: flow), data: {flow: flow, provider: provider}, class: "btn btn-primary pull-left #{provider}" do
      %i{class: "icon-#{provider}"}>
      #{provider}