%a
  %img.logo{:src => "/assets/logo-inverted.png"}

  = simple_form_for resource, as: resource_name, url: unlock_path(resource_name), method: :post do |f|
    .input-group
      %span.input-group-addon
        %i.icon-envelope  
      = f.input :email, autofocus: true, label: false, required: true
    = f.button :submit, I18n.t('auth.unlock.submit'), class: 'btn btn-lg btn-primary btn-block'

  = render "users/shared/links", disable_forgot: true
