!!!
%html{:lang => "fr"}
  %head
    %meta{:charset => "utf-8"}
    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge">
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %title Syband
    %meta{:content => "Présentation Syband", :name => "description"}
    %meta{:content => "Présentation Syband music", :name => "keywords"}
    %link{:href => "/assets/landing/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/assets/landing/apple-touch-icon.jpg", :rel => "apple-touch-icon"}
    %link{:href => "/assets/landing/apple-touch-icon-72x72.jpg", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/assets/landing/apple-touch-icon-114x114.jpg", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/landing/bootstrap.min.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/landing/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/landing/font-lineicons.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/landing/animate.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/landing/toastr.min.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/landing/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
    %script{:src => "/assets/landing/html5.js"}
    %script{:src => "/assets/landing/respond.min.js"}
  %body#landing-page
    #mask
      #loader  