#hero.static-header.light.clearfix
  .text-heading
    %h1.animated.hiding{"data-animation" => "bounceInDown", "data-delay" => "1500"}
      %span.highlight> Syband &nbsp; 
      révolutionne la communication
      %br dans votre groupe !
    %ul.list-inline
      %li
        %a.btn.btn-primary.animated.hiding{"data-animation" => "bounceIn", "data-delay" => "1500", :href => "/signin"} Utiliser
      %li
        %a.btn.btn-default.animated.hiding{"data-animation" => "bounceIn", "data-delay" => "2000", :href => "#decouvrir"} Découvrir
  .video-wrapper
    .container
      %img#decouvrir.img-responsive.animated.hiding{:alt => "video", "data-animation" => "bounceInUp", "data-delay" => "2000", :src => "/assets/landing/features/app_block.png"}/
%a#showHere
%section#about.section.dark
  .container
    %ul.nav.nav-tabs.alt
      %li.active
        %a{"data-toggle" => "tab", :href => "#first-tab-alt"} FIRST TAB
      %li
        %a{"data-toggle" => "tab", :href => "#second-tab-alt"} SECOND TAB
      %li
        %a{"data-toggle" => "tab", :href => "#third-tab-alt"} THIRD TAB
    .tab-content.alt
      #first-tab-alt.tab-pane.active
        .section-content.row
          .col-sm-6.animated.hiding{"data-animation" => "fadeInLeft"}
            %img.img-responsive{:alt => "process 3", :src => "/assets/landing/features/people.jpg"}/
          .col-sm-6.animated.hiding{"data-animation" => "fadeInRight"}
            %br/
            %article.center
              %h3
                FOR EVERY
                %span.highlight STARTUP
              .sub-title
                Lorem ipsum dolor sit atmet sit dolor greand fdanrh
                %br/
                sdfs sit atmet sit dolor greand fdanrh sdfs
              %p In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
              %br/
              %a.btn.btn-secondary.animated.hiding{"data-animation" => "bounceIn", "data-delay" => "700", :href => "#"} Get template
              %a.btn.btn-secondary.animated.hiding{"data-animation" => "bounceIn", "data-delay" => "700", :href => "#"} See elements
      #second-tab-alt.tab-pane
        .section-content.row
          .col-sm-6.pull-right.animated.hiding{"data-animation" => "fadeInRight"}
            %img.img-responsive.pull-right{:alt => "process 2", :src => "/assets/landing/features/phone.jpg"}/
          .col-sm-6.animated.hiding{"data-animation" => "fadeInLeft"}
            %br/
            %br/
            %article.center
              %h3
                NEW AGE
                %span.highlight TECHNOLOGY
              .sub-title
                Lorem ipsum dolor sit atmet sit dolor greand fdanrh
                %br/
                sdfs sit atmet sit dolor greand fdanrh sdfs
              %p In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
      #third-tab-alt.tab-pane
        .section-header.animated.hiding.center{"data-animation" => "fadeInDown"}
          %h2 3 EASY STEPS
          .sub-heading
            Lorem ipsum dolor sit atmet sit dolor greand fdanrh s
            = succeed "dfs" do
              %br/
            sit atmet sit dolor greand fdanrh sdfs
        .section-content.row
          .col-sm-4
            %article.text-center.animated.hiding{"data-animation" => "fadeInLeft", "data-delay" => "0"}
              %i.howitworks.icon.icon-shopping-04.icon-active
              %span.h7 PLACE ORDER
              %p.thin
                Sit amet, consectetur adipiscing elit.
                %br>/
                In hac divisione rem ipsam prorsus probo
                %br>/
                elegantiam desidero.
            / <span class="icon icon-arrows-04"></span>
          .col-sm-4
            %article.text-center.animated.hiding{"data-animation" => "fadeInLeft", "data-delay" => "400"}
              %i.howitworks.icon.icon-seo-icons-03.icon-active
              %span.h7 OUR SYSTEM RUNS
              %p.thin
                Sit amet, consectetur adipiscing elit.
                %br>/
                In hac divisione rem ipsam prorsus probo
                %br>/
                elegantiam desidero.
            / <span class="icon icon-arrows-04"></span>
          .col-sm-4
            %article.text-center.animated.hiding{"data-animation" => "fadeInLeft", "data-delay" => "800"}
              %i.howitworks.icon.icon-seo-icons-05.icon-active
              %span.h7 RECEIVE REPORT
              %p.thin
                Sit amet, consectetur adipiscing elit.
                %br>/
                In hac divisione rem ipsam prorsus probo
                %br>/
                elegantiam desidero.
        %br/
        %br/
%hr.no-margin/
%section#process.section.dark
  .container
    .section-content.row
      .col-sm-6.pull-right.animated.hiding{"data-animation" => "fadeInRight"}
        %img.img-responsive{:alt => "process 2", :src => "/assets/landing/features/content_image1.png"}/
      .col-sm-6.animated.hiding{"data-animation" => "fadeInLeft"}
        %br/
        %br/
        %article
          %h3
            NEW AGE
            %span.highlight TECHNOLOGY
          .sub-title
            Lorem ipsum dolor sit atmet sit dolor greand fdanrh
            %br/
            sdfs sit atmet sit dolor greand fdanrh sdfs
          %p In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
      %hr.clearfix/
      .col-sm-6.animated.hiding{"data-animation" => "fadeInLeft"}
        %img.img-responsive{:alt => "process 3", :src => "/assets/landing/features/helmet.jpg"}/
      .col-sm-6.animated.hiding{"data-animation" => "fadeInRight"}
        %br/
        %br/
        %article
          %h3
            HANG
            %span.highlight ON TO
            YER HELMET
          .sub-title
            Lorem ipsum dolor sit atmet sit dolor greand fdanrh
            %br/
            sdfs sit atmet sit dolor greand fdanrh sdfs
          %p In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
%section#features.section.inverted
  .container
    .section-content
      #featuredTab
        %ul.list-unstyled.animated.hiding{"data-animation" => "fadeInRight"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#home"}
              .tab-info
                .tab-title Lorem Dolor
                .tab-desc
                  Sit amet, consectetur adipiscing elit
                  %br>/
                  hac divisione rem ipsam prorsus
              / <div class="tab-icon"><span class="icon icon-multimedia-20"></span></div>
          %li
            %a{"data-toggle" => "tab", :href => "#profile"}
              .tab-info
                .tab-title Lorem Dolor
                .tab-desc
                  Sit amet, consectetur adipiscing elit
                  %br>/
                  hac divisione rem ipsam prorsus
              / <div class="tab-icon"><span class="icon icon-seo-icons-27"></span></div>
          %li
            %a{"data-toggle" => "tab", :href => "#messages"}
              .tab-info
                .tab-title Lorem Dolor
                .tab-desc
                  Sit amet, consectetur adipiscing elit
                  %br>/
                  hac divisione rem ipsam prorsus
              / <div class="tab-icon"><span class="icon icon-seo-icons-28"></span></div>
        .tab-content.animated.hiding{"data-animation" => "fadeInLeft"}
          #home.tab-pane.in.active
            %img.img-responsive.animated.hiding{:alt => "macbook", "data-animation" => "fadeInLeft", :src => "/assets/landing/features/rich_features_1.png"}/
          #profile.tab-pane
            %img.img-responsive.animated.hiding{:alt => "macbook", "data-animation" => "fadeInLeft", :src => "/assets/landing/features/rich_features_2.png"}/
          #messages.tab-pane
            %img.img-responsive.animated.hiding{:alt => "macbook", "data-animation" => "fadeInLeft", :src => "/assets/landing/features/rich_features_3.png"}/
%section#features-list.section.dark
  .container.animated.hiding{"data-animation" => "fadeInDown"}
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-office-44.icon-active
        %span.h7 FONCTION 1
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-shopping-18.icon-active
        %span.h7 FONCTION 2
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-seo-icons-27.icon-active
        %span.h7 FONCTION 3
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-office-24.icon-active
        %span.h7 FONCTION 4
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-graphic-design-13.icon-active
        %span.h7 FONCTION 5
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-arrows-37.icon-active
        %span.h7 FONCTION 6
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-badges-votes-14.icon-active
        %span.h7 FONCTION 7
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
    .col-md-3.col-sm-6.col-xs-12
      %article.center
        %i.icon.icon-badges-votes-16.icon-active
        %span.h7 FONCTION 8
        %p.thin Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero.
%section#guarantee.long-block.light
  .container
    .col-md-12.col-lg-9
      %i.icon.icon-seo-icons-24.pull-left
      %article.pull-left
        %h2
          %strong SYBAND
          POUR SMARTPHONE !
        %p.thin L'utilisation de syband est gratuit et illimité.
    .col-md-12.col-lg-3
      %a.btn.btn-default{:href => "#"} TESTER
%footer#footer.footer.light
  .container
    .footer-content.row
      .col-sm-4
        .logo-wrapper
          %img{:alt => "logo", :src => "/assets/landing/logo.png"}/
        %p Ut enim ad minim veniam, quis nostrud exercitation ullamco. Qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Nisi ut aliquid ex ea commodi consequatur?
        %p
          %strong> T.Haratyk, J.Buttice Fondateurs
          \.
      .col-sm-5.social-wrap
        .footer-title Réseau sociaux
        %ul.list-inline.socials
          %li
            %a{:href => "#"}
              %span.icon.icon-socialmedia-08
          %li
            %a{:href => "#"}
              %span.icon.icon-socialmedia-16
          %li
            %a{:href => "#"}
              %span.icon.icon-socialmedia-07
      .col-sm-3
        .footer-title Nous contacter
        %ul.list-unstyled
          %li
            %span.icon.icon-chat-messages-14
            %a{:href => "mailto:info@startup.ly"} info@syband.fr
          %li
            %span.icon.icon-seo-icons-34
            25 rue d'ici 59000 Lille
          %li
            %span.icon.icon-seo-icons-17
            06 84 84 84 84
  .copyright syband.fr 2014. All rights reserved.
.back-to-top
  %i.fa.fa-angle-up.fa-3x